# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod

# Executables
*.exe
*.out
*.app

# Visual Studio
*.suo
*.sdf
*.opensdf

Mastergoal/Binaries
Mastergoal/Build
Mastergoal/Intermediate
Mastergoal/Saved
